.productSelect {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	padding: 20px;
	width: 100%;
	font: var(--body-1-400);
	letter-spacing: 0.32px;
	color: var(--brown);
	border: 1px solid var(--white);
	cursor: pointer;

	&__size {
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		gap: 10px;

		img {
			width: 24px;
			height: 24px;
		}
	}
}

.active {
	border: 1px solid var(--rose);
}

@media screen and (min-width: 768px) {
	.productSelect {
		font: var(--subtitle-3-400);
		letter-spacing: 0.36px;
	}
}