.wrapper {
	background: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 1276px;
	margin: 0 auto;
	width: 100%;


}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;

	h1 {
		font-family: Cormorant Garamond, serif;
		font-size: 60px;
		font-weight: 600;
		line-height: 73px;
		color: #231104;
	}

	p {
		font-family: Open Sans, serif;
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0.02em;
		color: #231104;

	}

	.image {

	}

}
