
.searchBox {
	position: relative;
	display: flex;
	align-items: center;
	top: -10px;
	margin-right: 15px;

}

.searchIcon {
	cursor: pointer;
	position: absolute;
	left: 0;
}

.searchInput {
	width: 0;
	height: 40px;
	border: none;
	margin: 0;
	overflow: hidden;
	background: transparent;
	&::placeholder{
		color: #000000 ;
	}
	transition: all 0.5s ease-in-out;

}

.searchBox.expanded {
	input {
		width: 200px;
		padding-left: 35px;
		border-bottom: 1px solid #000000;
		transition: all 0.5s ease-in-out;
	}
	}

