.container {

}

.info {
	h1 {
		font-family: var(--font-family-main);
		font-size: 32px;
		font-weight: 400;
		line-height: 48px;
		letter-spacing: 0.02em;
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		font-family: var(--font-family-main);
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.02em;
		text-align: center;

	}

	form {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		margin-bottom: 100px;
	}
}

.image {
	display: flex;
	justify-content: center;

	img {
		height: 100%;
		width: 100%;

	}
}


@media screen and (max-width: 1024px) {

	.info {
		h1 {
			font-size: 28px;
			line-height: 42px;
			text-align: left;
			margin-bottom: 10px;
		}

		p {
			font-size: 16px;
			line-height: 24px;
			text-align: left;

		}

		form {
			display: flex;
			justify-content: left;
			margin-top: 30px;
			margin-bottom: 105px;
		}
	}
}

@media screen and (max-width: 500px) {

	.container {
		//padding-right: 20px;
	}

	.info {
		h1 {
			font-size: 20px;
			line-height: 30px;
			text-align: left;
			margin-bottom: 10px;
		}

		p {
			font-size: 16px;
			line-height: 24px;
			text-align: left;

		}

		form {
			display: flex;
			justify-content: left;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
}
