.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 16px;
    line-height: 150%; /* 24px */
    cursor: pointer;
}

.clock {
    font-size: 24px;
}

.black {
    background-color: #231104;
    color: #FCF7F0;
    &:hover{
        background-color: #9C5A58;
    }
    &:active{
        background-color: #231104;
    }
    &:disabled{
        background-color: #C5B4B9;
    }
    .clock {
        color: #FCF7F0;
    }
}

.black.loading:disabled{
    background-color: #231104;
}

.white {
    background-color: inherit;
    color: #231104;
    border: #231104 solid 2px;
    &:hover {
        border-color: #9C5A58;
    }
    &:active {
        border-color: #231104;
    }
    &:disabled{
        color: #C5B4B9;
        border-color: #C5B4B9;
    }
    .clock {
        color: #231104;
    }
}

.white.loading:disabled {
    border-color: #231104;
}

.small {
    width: 221px;
}

.big {
    width: 304px;
}