@import "../../../styles/mixin";

.restoring {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	padding-bottom: 268px;
	padding-top: 94px;
	font-family: var(--font-family-main);
	color: #231104;
	font-weight: 400;

	&__wrapper {
		width: 304px;
	}

	&__descr {
		margin-top: 20px;
		font-size: 16px;
		line-height: 150%; /* 24px */
	}
}

.img {
	position: absolute;
	right: -300px;
	bottom: 0;
	height: 653px;
	width: 734px;
	z-index: -1;

	img {
		width: 100%;
		height: 100%;
	}
}

@include media768 {
	.restoring {
		position: static;
		padding-bottom: 117px;
		padding-top: 100px;

		&__wrapper {
			width: 354px;
			text-align: center;
			align-items: center;

			button {
				width: 100%;
			}
		}

		&__descr {
			margin-top: 20px;
		}
	}

	.img {
		display: none;
	}
}

@include media375 {
	@include media768 {
		.restoring {
			padding-bottom: 120px;
			padding-top: 60px;

			&__wrapper {
				width: 335px;
			}

		}
	}
}
