.card {
    width: 252px;
    position: relative;
    transition: all .7s;
    &__sale {
        border-top-left-radius: 26px;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 14px;
    }
    &__img {
        position: relative;
        height: 280px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__footer{
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-family: var(--font-family-main);
        color:#2C1607;
    }
    &__name{
        font-size: 18px;
        &:hover {
            text-decoration: underline;
        }
    }
    &__desc{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    &__old_price{
        span{

        }
    }
    &:hover{
        box-shadow: 0px 0px 25px 0px rgba(109, 101, 89, 0.08);
    }
}

.price{
    font-size: 24px;
    line-height: auto;
    font-weight: 500;
    span{
        font-size: 14px;
        font-weight: 400;
    }
    &_old {
        font-size: 16px;
        font-weight: 400;
        color: #B4B4B4;
        p {
            display: inline;
            text-decoration: line-through;
        }
        span{
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
        }
    }
}

.cart{
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background-color: #E7A9A7;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    &:hover {
        background-color: #9C5A58;
    }
    &:active {
        background-color: #9C5A58;
    }
    &:disabled {
        background-color: #C5B4B9;
    }
}

.like{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #C24A51;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
}

.sale{
    position: absolute;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCF7F0;
    border: #E7A9A7 solid 1px;
    border-radius: 100%;
    top: 0;
    font-family: var(--font-family-main);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color:#2C1607;
}
