.swiper{
	user-select: none;
	position: relative;
	&__slide{
		position: relative;
	}
	&__header{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__btns{
		position: relative;
		top: -300px;
		display: flex;
		justify-content: space-between;
		max-width: 1200px;
		margin: 0 auto;
		cursor: pointer;
		z-index: 100;
		&:first-of-type{
			background-image: url("../../../assets/image/swiper/arrow_1.svg");
		}
	}
}
