.swiper{
	user-select: none;
	position: relative;
	margin-bottom: 50px;
	&__slide{
		position: relative;
	}
	&__header{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__second{
		display: flex;
		color: white;
		background: #E7A9A7;
		img{
			width: 50%;
			height: 539px;
		}
		&_header{
			text-align: left;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
			width: 450px;
			text-align: left;
			h1{
				font-family: "Cormorant Garamond", serif;
				font-size: 68px;
				font-weight: 500;
				line-height: 65px;
				margin-bottom: 20px;


			}
			p{
				font-family: "Work Sans", serif;
				font-size: 16px;
				font-weight: 500;
				line-height: 24px;
				text-align: left;

			}
		}
	}

	&__third{

		&__header{
			display: flex;
			div{
				background: #B08848;
				color: white;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				align-items: center;
				h1{
					font-size: 62px;
					font-weight: 400;
					line-height: 66px;
					text-align: left;
					font-family: "Cormorant Garamond", serif;
					margin-left: 120px;
					margin-bottom: 20px;
				}
				p{
					font-family: "Work Sans", serif;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					text-align: left;
					width: 400px;

				}
			}
			img{
				width: 638px;
			}

		}

	}

	&__fourth_header{
		display: flex;
		flex-direction: column;
		h3{
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			order: 2;
		}
		img{
			order: 1;
		}
	}
}
