
.accordion {
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		font-family: Work Sans, serif;
		font-size: 32px;
		font-weight: 400;
		line-height: 38px;
		color: #231104;
	}

	img {
		width: 20px;
		height: 10px;
	}

	a {
		font-family: Sarabun, serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
		text-decoration: underline;
		transition: all 0.5s ease-in-out;

		&:hover {
			color: #9C5A58;
			text-decoration: underline #9C5A58;
		}
	}
}


.accordion .content {
	display: none;
}


.accordion.open .content {
	display: block;
}

.blocked {
	user-select: none;
	opacity: 0.3;
}
