.page_nav{
    color: #E7A9A7;
    margin-bottom: 52px;
    font-size: 14px;
}

.information {
    position: relative;
    padding-bottom: 145px;
    display: flex;
    justify-content: space-between;
}
.content {
    width: 100%;
    padding-top: 50px;
}

.wrapper {
    &__main {
        position: absolute;
        top: 0;
        right: 0;
        border: #E7A9A7 solid 1px;
        padding-left: 108px;
        padding-right: 158px;
        padding-top: 50px;
        height: 100%;
        .wrapper__second {
            position: relative;
            height: calc( 100% - 145px );
            .sidebar{
                position:sticky; 
                top: 50px;
            }
        }
    }
}

.forms__wrapper {
    display: flex;
    flex-direction: column;
    gap: 120px;
}