.page_nav{
    color: #E7A9A7;
    margin-bottom: 102px;
    font-size: 14px;
}

.information {
    position: relative;
    padding-bottom: 145px;
}

.sidebar {
    position: absolute;
    right: 158px;
    top: 0;
}

.forms__wrapper {
    display: flex;
    flex-direction: column;
    gap: 120px;
}