.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 16px;
    line-height: 150%; /* 24px */
    cursor: pointer;
}

.black {
    background-color: #231104;
    color: #FCF7F0;
}

.white {
    background-color: #FCF7F0;
    color: #231104;
    border: #231104 solid 2px;
}

.small {
    width: 221px;
}

.big {
    width: 304px;
}