.notFound{
	height: 100vh;
	background-image: url("../../assets/image/notFoundPage/404.png");

	&__container{
		max-width: 1276px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__header{
		padding-top: 40px;
	}

	&__main{
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h1{
			font-family: "Cormorant Garamond", serif;
			font-size: 90px;
			font-weight: 600;
			line-height: 109px;
			color: #FCF7F0;
			margin-bottom: 20px;
		}
		span{
			font-family: Work Sans, serif;
			font-size: 32px;
			font-weight: 400;
			line-height: 38px;
			color: #FCF7F0;
			margin-bottom: 20px;
		}
		p{
			font-family: Work Sans, serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: #FFFFFF;
			width: 400px;
		}
		a{
			width: 304px;
			height: 60px;
			transition: all 0.5s ease;
			&:first-of-type{
				color: white;
				background-color: #231104;
				display: grid;
				place-items: center;
				margin-top: 40px;
				&:hover{
					background-color: #9c5a58;
				}
			}
			&:last-of-type{
				background-color: #929593;
				border: 2px solid #231104;
				color: #231104;
				margin-top: 25px;
				display: grid;
				place-items: center;
				&:hover{
					border: 2px solid #9c5a58;
				}
			}
		}



	}

	&__footer{
		font-family: Work Sans, serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: #B4B4B4;
padding-bottom: 80px;
	}

}
